<!-- 模板 -->
<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-xs12">
      <div class="layui-card">

        <!-- 条件检索 -->
        <blockquote class="layui-elem-quote quoteBox" style="margin-bottom: -5px;">
          <form class="layui-form" id="userSearchForm">
            <div class="layui-inline">
              <label class="layui-form-label">用户名</label>
              <div class="layui-input-inline">
                <input type="text" name="username" class="layui-input" placeholder="请输入查询条件"/>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">姓名</label>
              <div class="layui-input-inline">
                <input type="text" name="realname" class="layui-input" placeholder="请输入查询条件"/>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">手机号</label>
              <div class="layui-input-inline">
                <input type="text" name="mobile" class="layui-input" placeholder="请输入查询条件"/>
              </div>
            </div>
            <a class="layui-btn" data-type="reload">搜索</a>
          </form>
        </blockquote>

        <!-- 表格主体 -->
        <table id="userTable" lay-filter="userTableFilter"></table>

      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['table', 'app', 'jquery', 'util'], function () {
    var table = layui.table,
        app = layui.app,
        util = layui.util,
        form = layui.form,
        $ = layui.jquery;

    var tableId = 'userTable';
    var tableFilter = 'userTableFilter';
    var tableToolbarId = '#toolbarSysUser';
    var tableDataUrl = '/admin/sysUser/list';

    //表格重载
    var tableReload = function () {
      //执行重载
      table.reload(tableId, {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        , where: {
          username: $('#userSearchForm input[name="username"]').val(),
          realname: $('#userSearchForm input[name="realname"]').val(),
          mobile: $('#userSearchForm input[name="mobile"]').val()
        }
      });
    };

    //条件检索
    $('#userSearchForm .layui-btn').on('click', function () {
      tableReload();
    });

    /**
     * 初始化表格
     * @param result
     */
    table.render({
      elem: '#' + tableId
      , title: '用户列表'
      , toolbar: tableToolbarId
      , done: function () {
        $('#' + tableId).next().css('height', 'auto');
      }
      , url: tableDataUrl
      , done: function () {
        $('#' + tableId).next().css('height', 'auto');
      }
      , initSort: {
        field: 'createTime' //排序字段，对应 cols 设定的各字段名
        , type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
      }
      , parseData: function (res) {
        app.result.handler(res);
        return {
          "code": res.code, //解析接口状态
          "count": res.data.total, //解析数据长度
          "data": res.data.records //解析数据列表
        };
      }
      , page: true //开启分页
      , limit: 20
      , cols: [[ //标题栏
        {
          type: 'checkbox',
          width: 80,
          sort: true,
          fixed: 'left'
        }
        , {field: 'username', title: '用户名'}
        , {field: 'realname', title: '姓名'}
        , {field: 'role', title: '角色',templet: function (row) {
        	if(row.role){
        		return row.role.roleName;
        	}
            return "";
        }}
        , {field: 'sex', title: '性别', templet: '#sexTemplate',}
        , {field: 'mobile', title: '手机号', align: 'center'}
        , {field: 'email', title: '邮箱'}
        , {
          field: 'createTime', title: '注册时间', sort: true, templet: function (row) {
            return util.toDateString(row.createTime);
          }
        }
        , {field: 'status', title: '帐号状态', templet: '#statusTemplate',}
        , {fixed: 'right', title: '操作', width: 165, align: 'center', toolbar: '#toolbarSysUserRow'}
      ]]

    });

    //排序监听
    table.on('sort(' + tableFilter + ')', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
      //尽管我们的 table 自带排序功能，但并没有请求服务端。
      //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
      table.reload(tableId, {
        initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
        , where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
          field: obj.field //排序字段
          , order: obj.type //排序方式
        }
      });
    });

    //头工具栏事件
    table.on('toolbar(' + tableFilter + ')', function (obj) {
      var checkStatus = table.checkStatus(obj.config.id);
      switch (obj.event) {
          //新增
        case 'sysUserAddEvent':
          location.href = "#/user/create";
          break;
          //批量删除
        case 'sysUserDeleteListEnent':
          layer.confirm('确认删除吗', function (index) {
            layer.close(index);
            //向服务端发送删除指令
            var ids = new Array();
            var data = checkStatus.data;
            $.each(data, function (index, instance) {

              ids.push(instance.id);
            });
            app.post("/admin/sysUser/dels", {ids: ids}, function (result) {
              layer.msg(result.msg);
              table.reload(tableId);
            });

          });
          break;
      }

    });

    //监听行工具事件
    table.on('tool(' + tableFilter + ')', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
      var data = obj.data //获得当前行数据
          , layEvent = obj.event; //获得 lay-event 对应的值

      switch (layEvent) {
          //删除
        case 'sysUserDel':
          layer.confirm('确认删除吗', function (index) {
            layer.close(index);
            //向服务端发送删除指令
            app.post("/admin/sysUser/del", {id: data.id}, function (result) {
              layer.msg(result.msg);
              obj.del(); //删除对应行（tr）的DOM结构
            });
          });
          break;
        case 'sysUserEdis':
          location.href = "#/user/edit?id="+data.id;
          break;
      }
      ;
    });

    //监听性别操作
    form.on('switch(sexTemplateFilter)', function (obj) {
      var sex = 2;
      if (!obj.othis) {
        sex = 1;
      }
      app.post("/admin/sysUser/sex", {sex: sex, id: obj.elem.id}, function (result) {
        layer.msg(result.msg);
      });
    });

    //监听帐号锁定操作
    form.on('checkbox(statusTemplateFilter)', function (obj) {
      var status = 1;
      if (!obj.othis) {
    	  obj.value  = 2;
      }
      app.post("/admin/sysUser/status", {statusEnum: status, id: obj.elem.id}, function (result) {
        layer.msg(result.msg);
      });
    });
  });


</script>

<!-- 帐号状态模板 -->
<script type="text/html" id="statusTemplate">
  <!-- 这里的 checked 的状态只是演示 -->
  <input type="checkbox" name="status" id="{{d.id}}" value="{{d.status.value}}" title="启用"
         lay-filter="statusTemplateFilter" {{ d.status.value== 1 ? 'checked' : '' }}>

</script>

<!-- 性别模板 -->
<script type="text/html" id="sexTemplate">
  <!-- 这里的 checked 的状态只是演示 -->
  <input type="checkbox" name="sex" id="{{d.id}}" value="{{d.sex.value}}" lay-skin="switch"
         lay-text="女|男" lay-filter="sexTemplateFilter" {{ d.sex.value== 2 ? 'checked' : '' }}>
</script>

<!-- 工具栏 -->
<script type="text/html" id="toolbarSysUser">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="sysUserAddEvent"><i
        class="layui-icon">&#xe654;</i>新增
    </button>
    <button class="layui-btn layui-btn-sm" lay-event="sysUserDeleteListEnent"><i
        class="layui-icon">&#xe654;</i>批量删除
    </button>
  </div>
</script>

<!-- 表格列工具 -->
<script type="text/html" id="toolbarSysUserRow">
  <a class="layui-btn layui-btn-xs" lay-event="sysUserEdis">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="sysUserDel">删除</a>
</script>

<!-- 样式 -->
<style scoped>
</style>