<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-xs12">
      <div class="layui-card">
        <!-- 头部-->
        <div class="layui-card-header" style="height: auto;">
          <!-- 主体展示 -->
          <blockquote class="layui-elem-quote quoteBox" style="margin-bottom: -5px;">
            <form class="layui-form" id="userSearchForm">
              <div class="layui-inline">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                  <input type="text" name="username" class="layui-input" placeholder="请输入查询条件"/>
                </div>
              </div>
              <div class="layui-inline">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                  <input type="text" name="realname" class="layui-input" placeholder="请输入查询条件"/>
                </div>
              </div>
              <div class="layui-inline">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-inline">
                  <input type="text" name="mobile" class="layui-input" placeholder="请输入查询条件"/>
                </div>
              </div>
              <a class="layui-btn" data-type="reload">搜索</a>
            </form>
          </blockquote>
        </div>

        <div class="layui-card-body" style="padding-top: 0px;">
          <table class="layui-table" id="userTable" lay-filter="userTablelay">

          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['table', 'app', 'jquery', 'util'], function () {
    var table = layui.table,
        app = layui.app,
        util = layui.util,
        $ = layui.jquery;

    var tableId = 'userTable';
    var tableToolbarId = '#toolbarSysUser';
    var tableDataUrl = '/admin/sysUser/list';

    //表格重载
    var tableReload = function () {
      //执行重载
      table.reload(tableId, {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        , where: {
          username: $('#userSearchForm input[name="username"]').val(),
          realname: $('#userSearchForm input[name="realname"]').val(),
          mobile: $('#userSearchForm input[name="mobile"]').val()
        }
      });
    };

    //条件检索
    $('#userSearchForm .layui-btn').on('click', function () {
      tableReload();
    });

    /**
     * 初始化表格
     * @param result
     */
    table.render({
      elem: '#'+tableId
      , title: '用户列表'
      , toolbar: tableToolbarId
      , url:tableDataUrl
      , parseData: function (res) {
        app.result.handler(res);
        return {
          "code": res.code, //解析接口状态
          "count": res.data.total, //解析数据长度
          "data": res.data.records //解析数据列表
        };
      }
      , page: true //开启分页
      , limit: 20
      , cols: [[ //表头
        , {type: 'checkbox', fixed: 'left'}
        , {field: 'username', title: '用户名' }
        , {field: 'realname', title: '姓名' }
        , {field: 'sex', title: '性别'}
        , {field: 'mobile', title: '手机号' }
        , {field: 'email', title: '邮箱'}
        , {field: 'createTime', title: '注册时间', sort: true,  templet: function(row){
            return util.toDateString(row.createTime);
          }}
        ,{fixed: 'right', width: 165, align:'center', toolbar: '#barDemo'}
      ]]

    });

    //监听头工具栏事件
    table.on('toolbar(userTablelay)', function(obj){
      debugger;
      var checkStatus = table.checkStatus(obj.config.id)
          ,data = checkStatus.data; //获取选中的数据
      switch(obj.event){
        case 'edit':
          layer.msg('添加');
          break;
        case 'update':
          if(data.length === 0){
            layer.msg('请选择一行');
          } else if(data.length > 1){
            layer.msg('只能同时编辑一个');
          } else {
            layer.alert('编辑 [id]：'+ checkStatus.data[0].id);
          }
          break;
        case 'delete':
          if(data.length === 0){
            layer.msg('请选择一行');
          } else {
            layer.msg('删除');
          }
          break;
      };
    });

    //监听行工具事件
    table.on('toolbar(userTablelay)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
      var data = obj.data //获得当前行数据
          ,layEvent = obj.event; //获得 lay-event 对应的值
      if(layEvent === 'detail'){
        layer.msg('查看操作');
      } else if(layEvent === 'del'){
        layer.confirm('真的删除行么', function(index){
          obj.del(); //删除对应行（tr）的DOM结构
          layer.close(index);
          //向服务端发送删除指令
        });
      } else if(layEvent === 'edit'){
        layer.msg('编辑操作');
      }
    });

  });
</script>
<!-- 工具栏 -->
<script type="text/html" id="toolbarSysUser">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData"><i
        class="layui-icon">&#xe654;</i>新增
    </button>
    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
    <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
  </div>
</script>

<!-- 表格列工具 -->
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<style scoped>
  .layui-form layui-form-item {
    margin-top: 50px;
  }
</style>