<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-xs12">
      <div class="layui-card">
        <div class="layui-card-header">
          <a href="#/user/index" title="返回"><i class="layui-icon">&#xe65c;</i></a>返回
        </div>
        <div class="layui-card-body">
          <form class="layui-form" action="">
            <div class="layui-form-item">
              <label class="layui-form-label">用户名</label>
              <div class="layui-input-inline">
                <input type="text" name="username"  lay-verify="title" placeholder="请输入用户名" autocomplete="off" class="layui-input">
              </div>

              <label class="layui-form-label">姓名</label>
              <div class="layui-input-inline">
                <input type="text" name="realname"  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">密码</label>
              <div class="layui-input-inline">
                <input type="password" name="password" lay-verify="required|pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>

              <label class="layui-form-label">手机号</label>
              <div class="layui-input-inline">
                <input type="text" name="mobile"  lay-verify="required|phone" placeholder="请输入手机号" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">邮箱</label>
              <div class="layui-input-inline">
                <input type="text" name="email"   placeholder="请输入邮箱" autocomplete="off" class="layui-input">
              </div>

            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">性别</label>
              <div class="layui-input-block">
                <input type="radio" name="sex" value="1" title="男">
                <input type="radio" name="sex" value="2" title="女" checked>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="sysUserAddForm">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  layui.use(['form', 'app'], function() {
    var form = layui.form,
        app = layui.app;

    form.render();

    //自定义验证规则
    form.verify({
      title: function(value){
        if(value.length < 6 || value >20){
          return '用户名长度[6-20],数字与字母组合';
        }
      }
      ,pass: [/(.+){6,20}$/, '密码必须6到20位']
    });

    //监听提交
    form.on('submit(sysUserAddForm)', function(data) {
      layer.msg(JSON.stringify(data.field));
      app.post("/admin/sysUser/add", data.field, function(result) {
        layer.msg(result.msg);
        location.href = "#/user/index";
      });
      return false;
    });


  });
</script>
<style scoped>

</style>