<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-xs12">
      <div class="layui-card">
        <div class="layui-card-header">
          <a href="#/role/index" title="返回"><i class="layui-icon">&#xe65c;</i></a>返回
        </div>
        <div class="layui-card-body">
          <form class="layui-form" action="" lay-filter="editFormFilter">
           <input name="id" type = "hidden">
            <div class="layui-form-item">
              <label class="layui-form-label">角色名称</label>
              <div class="layui-input-inline">
                <input type="text" name="roleName"  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="editFormSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  layui.use(['form', 'app'], function() {
    var form = layui.form,
        app = layui.app;
    var router = layui.route;
    
    var params = router.params();
	var id = params.id;
    form.render();
    
    //根据id获取信息
    app.post("/admin/role/get", {id:params.id}, function(result) {
    	 var pojo = result.data;
    	 //表单赋值 name value
    	 form.val('editFormFilter', {
    		 	"id": id
    	        ,"roleName": pojo.roleName 
    	      })
    });

    //监听提交
    form.on('submit(editFormSubmit)', function(data) {
      app.post("/admin/role/edit", data.field, function(result) {
        location.href = "#/role/index";
      });
      return false;
    });


  });
</script>
<style scoped>

</style>